@import "tailwindcss";

html, body{
  font-family: Outfit;
}

@theme {
  --font-Outfit :"Outfit", "sans-serif";
  --font-Ovo: "Ovo", "serif";

  --color-lightHover: #fcf4FF;
  --color-darkHoveer: #2a004a;
  --color-darkTheme: #11001F;
  --shadow-blackshadow: 4px 4px 0 #000
  --shadow-whiteshadow: 4px 4px 0 #fff

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}


@custom-variant dark (&:where(.dark, .dark *));